.connected,
.ready {
    font-weight: : normal;
}

.connected span,
.ready span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: red;
}

span.blue {
    background: blue;
}